# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R Program
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. plotly
3. panda

|Data Science Tools|
|------------------|
|Jupyter|
|PyTorch|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

round(200/60,1)

3.3

**Objectives**

+ List Popular Languages
+ List Popular Libraries
+ Create Table of Data Science Tools
+ Arithmetic Expressions